* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background: linear-gradient(to top, red, yellow);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.3rem;
    min-height: 100%;
    position: relative;
    padding-bottom: 5em;
}

body::before {
    content: "";
    background-image: url("../images/67025d966079b_LOGOASSDS.png"); /* Remplacez par l'URL de votre image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1; /* Ajustez l'opacité selon vos besoins */
    z-index: -1;
}

.header_list-links-dropdown{
    display: none;
}

.header_list-links-equipes:hover ul.header_list-links-dropdown{
    display: block;
}

.header_list-links-dropdown2{
    display: none;
}

.header_list-links-equipes-filles:hover ul.header_list-links-dropdown2{
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: none;
    color: black;
    font-size: 1.5rem;
}

a:hover{
    font-weight: bold;
    font-style: italic;
}

.header_logo{
    width: 8rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #f0590d;
        transition: right 0.3s ease;
        font-size: 1.5rem;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1rem;
    }

    nav ul li {
        margin: 1rem 1rem;
    }

    .close-toggle {
        display: block;
    }
}

/*liste équipes */
#nav_equipe li a {
    display: flex;
    color: rgb(84, 75, 75);
    line-height: 1em;
    padding: 4px 4px;
}
#nav_equipe li a:hover, #nav_equipe li a:focus, #nav_equipe li a:active{
    background: #f0590d;
}
#nav_equipe_a{
    display: ;
    
    width: 11em;
    text-decoration: none;
}

/*footer*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   
}

.footer_ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    padding: 1rem;
    

}

/*contact*/

.contact{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
}

.contact_li{
    
}

.contact_a{
    text-decoration: none;
    justify-content: ;
    align-items: ;
    margin: 1rem;
}

.logo{
    vertical-align: middle;
    padding: 1rem;
}

/*diapo*/
* {box-sizing:border-box}

/* Style du conteneur du diaporama */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Cache les images par défaut */
.mySlides {
  display: none;
}

/* Effet de fondu */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Boutons Suivant et Précédent */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position du bouton "Suivant" */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Au survol, ajoutez un fond noir avec un peu de transparence */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Style des points/indicateurs */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Texte de numérotation (1/3, etc.) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Légende du texte */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*equipes*/
.equipe{
    display: flex;
    padding: 2rem;
}

div{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius:70px;
}

p{
    width: 50%;
}