* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background: linear-gradient(to top, red, yellow);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.3rem;
    min-height: 100%;
    position: relative;
    padding-bottom: 5em;
}

body::before {
    content: "";
    background-image: url("../images/67025d966079b_LOGOASSDS.png"); /* Remplacez par l'URL de votre image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1; /* Ajustez l'opacité selon vos besoins */
    z-index: -1;
}

.header_list-links-dropdown{
    display: none;
}

.header_list-links-equipes:hover ul.header_list-links-dropdown{
    display: block;
}

.header_list-links-dropdown2{
    display: none;
}

.header_list-links-equipes-filles:hover ul.header_list-links-dropdown2{
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: none;
    color: black;
    font-size: 1.5rem;
}

a:hover{
    font-weight: bold;
    font-style: italic;
}

.header_logo{
    width: 8rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #f0590d;
        transition: right 0.3s ease;
        font-size: 1.5rem;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1rem;
    }

    nav ul li {
        margin: 1rem 1rem;
    }

    .close-toggle {
        display: block;
    }
    #nav_equipe  {
        flex-direction: column;
    }
    
}

/*club*/

.club{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*Organigramme*/

.organigramme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.org-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 120px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid white;
}

.president {
    background-color: ;
    font-weight: ;
}

.manager {
    background-color: ;
}

.employee {
    background-color: ;
}

/*footer*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    padding: 1rem;
}